<h1><%= @bank.name %></h1>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('#curr_chart').highcharts({
      chart: {
        type: 'line'
      },
      title: {
        text: "По банкам Украины"
      },
      xAxis: {
        categories: <%= @bank.rates.weekly.dollar.map {|r| r.created_at.strftime('%d.%m.%Y') }.to_json.html_safe %>
      },
      yAxis: {
        title: {
          text: "Rates"
        }
      },
      series: [{
        name: 'buy',
        data: <%= @bank.rates.weekly.dollar.map {|r| r.buy.to_f }.to_json.html_safe %>
      }, 
      {
        name: 'sale',
        data: <%= @bank.rates.weekly.dollar.map {|r| r.sale.to_f }.to_json.html_safe %>
      }]
    });
  });
</script>
<div id="curr_chart"></div>

<table>
  <thead>
    <tr>
      <td>Валюта</td>
      <td>Покупка</td>
      <td>Продажа</td>
    </tr>
  </thead>
  <tbody>
  <% @bank.rates.each do |rate| %>
    <tr>
      <td><%= rate.currency %></td>
      <td><%= rate.buy %></td>
      <td><%= rate.sale %></td>
    </tr>
  <% end %>
  </tbody>
</table>
